/* HEADER AREA */

header {border-bottom: 5px solid theme-color('primary');
  background-color: $black!important;}

.top-header{
  background-color: black;
  @include media-breakpoint-down(sm) {
    min-height:70px;
  }
}

.logo {
  position: absolute;
  @include media-breakpoint-only(xs) {
    max-width: 230px;
    top:0px;
  }
  @include media-breakpoint-up(sm) {
    max-width: 350px;
    top:-50px;
  }

  @include media-breakpoint-only(md) {
    max-width: 270px;
    top:-50px;
    left:15px;
  }
  @include media-breakpoint-only(xl) {
    max-width: 360px;
    top: -40px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 400px;
    top: -40px;
  }
}

.boxEnvios {
  border: 1px solid #f4e715;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 5px 10px;
  display: inline-block;
  @include media-breakpoint-only(xs) {
    padding: 5px 5px;
  }
  /* @include media-breakpoint-down(xl) {
    right: 45px; 
  } */

}

.txtEnvios {
  position: relative;
  top: -5px;
  right: -3px;
}

/* Menu Mobile */

.navbar-toggler{
  background-color: #f4e715;
  border-color: rgb(0, 0, 0);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#top_menu {
  padding-top: 1em;
}

/* shop  */
.page-link {background-color: $black;}

.page-item.active .page-link {
	z-index: 1;
	color: $black;
	background-color: #f4e715;
	border-color: #f4e715;
}

.td-product_name > div > a {
  color:$black;
}

.show_coupon {color:$black}
#products_grid_before {background-color: $black;}

/* categories */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color:$white;
	background-color: $black;
}
.nav-pills > li > a {background-color: $black;}

/* mini-cart */
.popover-body { background-color: $black; color: $white;}
div.popover-body > div.o_comparelist_products.d-md-block > div > div.col-8.pl-2 > h6 > a {color: $white;}


/* Footer Area */
#footer {
  border-top: 5px solid theme-color('primary');
  background-color: $black!important;
  color: $white;
}

.o_footer_copyright {
  background-color: $black!important;
}

/* Links */
h6 > a {
  color: $black;
}

h6 > a:hover {
  color: $black;
}



/* Font Awesome */

.fa {
  color:$black;
}

.fa-search,.fa-minus, .fa-plus, .fa-chevron-left, .fa-heart, .fa-exchange {color:$white;}

.white{
  color: $white!important;
}
